
<div class="text-center">
    <img src="/img/pavel.jpg" alt="Павел Анатольевич" class="rounded-circle" width="100" height="100" />
    <h2> Грабовский Павел Анатольевич</h2>
</div>
<ul>
    <li>Учился в ТК-СТ</li>
    <li>Закончил бакалавриат ТГАСУ</li>
    <li>Еще магистрат ТГАСУ</li>
    <li>Еще магистрат ТГАСУ</li>
    <li>Работал в Лонасе</li>
    <li>Работаю в ГСПИ Росатом</li>
    <li>Изучаю программирование</li>
</ul>